<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <connectionStrings>
    <add name="Ric.Db.Properties.Settings.EtiRicConnectionString" connectionString="Data Source=(localdb)\Projects;Initial Catalog=EtiRic;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False" providerName="System.Data.SqlClient" />
    <add name="Ric.Db.Properties.Settings.EtiRicConnectionString1" connectionString="Data Source=(localdb)\Projects;Initial Catalog=EtiRic;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False" />
    <add name="Ric.Db.Properties.Settings.EtiRicConnectionString2" connectionString="Data Source=GAOFAN-PC\SQLEXPRESS;Initial Catalog=EtiRic;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="EtiRicGeneratorEntities" connectionString="metadata=res://*/;provider=System.Data.SqlClient;provider connection string=&quot;data source=(localdb)\Projects;initial catalog=EtiRic;integrated security=True;connect timeout=30;encrypt=False;trustservercertificate=False;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="HongKongModel" connectionString="metadata=res://*/Model.HongKong.csdl|res://*/Model.HongKong.ssdl|res://*/Model.HongKong.msl;provider=System.Data.SqlClient;provider connection string='Data Source=10.35.16.40;Initial Catalog=&quot;Tactical Automation&quot;;Persist Security Info=True;User ID=ETIAsia;Password=Welcome1;MultipleActiveResultSets=True'" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>