<?xml version="1.0" encoding="utf-8"?>
<ETIE2EQCCheckerConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <REPORTS_LIST_FILE_PATH>\\Bjzsapacfs2\dataops_marketdata$\End to End Migration\Automation\E2E Automation Requirement.xlsx</REPORTS_LIST_FILE_PATH>
  <RCC_REPORTS_FILE_PATH>\\Bjzsapacfs2\dataops_marketdata$\End to End Migration\Automation</RCC_REPORTS_FILE_PATH>
  <DCRS_REPORTS_FILE_PATH>\\Bjzsapacfs2\dataops_marketdata$\End to End Migration\Automation</DCRS_REPORTS_FILE_PATH>
  <OPTION_REPORT_BASE_URL>http://nycstibp1.amers.ime.reuters.com/DCRS/browse.aspx?d=OPTIONS\ASIA&amp;t=ASIA%20FUTURES%20AND%20OPTION%20TAGS</OPTION_REPORT_BASE_URL>
  <FUTURE_REPORT_BASE_URL>http://nycstibp1.amers.ime.reuters.com/DCRS/browse.aspx?d=FUTURES\ASIA&amp;t=ASIA%20FUTURES%20REPORTS</FUTURE_REPORT_BASE_URL>
  <RCC_SHARE_DRIVE_PATH>\\10.43.101.37\BLR-F&amp;O RCC$\RCC\RCC Phase I</RCC_SHARE_DRIVE_PATH>
  <START_TIME />
  <TAG_LIST_FILE_PATH>\\Bjzsapacfs2\dataops_marketdata$\End to End Migration\Automation\Total TAG_EXcode_RIC Sufix.xlsx</TAG_LIST_FILE_PATH>
  <TAG_LIST_FILE_SHEET_NAME>TAG List</TAG_LIST_FILE_SHEET_NAME>
  <OPTION_RIC_LIST_FILE_PATH>\\Bjzsapacfs2\dataops_marketdata$\End to End Migration\Automation\Total TAG_EXcode_RIC Sufix.xlsx</OPTION_RIC_LIST_FILE_PATH>
  <OPTION_RIC_LIST_SHEET_NAME>RIC Sufix</OPTION_RIC_LIST_SHEET_NAME>
  <EX_CODE_LIST_FILE_PATH>\\Bjzsapacfs2\dataops_marketdata$\End to End Migration\Automation\Total TAG_EXcode_RIC Sufix.xlsx</EX_CODE_LIST_FILE_PATH>
  <EX_CODE_LIST_SHEET_NAME>Exchange Code</EX_CODE_LIST_SHEET_NAME>
  <HONGKONG_RESULT_FILE_PATH>\\Bjzsapacfs2\dataops_marketdata$\End to End Migration\Automation\Result\HONGKONG</HONGKONG_RESULT_FILE_PATH>
  <JAPAN_RESULT_FILE_PATH>\\Bjzsapacfs2\dataops_marketdata$\End to End Migration\Automation\Result\JAPAN</JAPAN_RESULT_FILE_PATH>
  <TAIWAN_RESULT_FILE_PATH>\\Bjzsapacfs2\dataops_marketdata$\End to End Migration\Automation\Result\TAIWAN</TAIWAN_RESULT_FILE_PATH>
  <KOREA_RESULT_FILE_PATH>\\Bjzsapacfs2\dataops_marketdata$\End to End Migration\Automation\Result\KOREA</KOREA_RESULT_FILE_PATH>
  <CHINA_RESULT_FILE_PATH>\\Bjzsapacfs2\dataops_marketdata$\End to End Migration\Automation\Result\CHINA</CHINA_RESULT_FILE_PATH>
  <THAILAND_RESULT_FILE_PATH>\\Bjzsapacfs2\dataops_marketdata$\End to End Migration\Automation\Result\THAILANG</THAILAND_RESULT_FILE_PATH>
  <INDONESIA_RESULT_FILE_PATH>\\Bjzsapacfs2\dataops_marketdata$\End to End Migration\Automation\Result\INDONESIA</INDONESIA_RESULT_FILE_PATH>
  <RESULT_FILE_DIR>\\Bjzsapacfs2\dataops_marketdata$\End to End Migration\Automation</RESULT_FILE_DIR>
  <OSE_FUTURES_CHECK_SHEET_PATH>\\sgfs\equity\NorthAsiaPacific\IDN JP Maintenance\Equity\FUTURE\OSEFuturesCheckSheet_R2.xls</OSE_FUTURES_CHECK_SHEET_PATH>
  <OSE_FUTURES_CHECK_SHEET_NAME>RIC</OSE_FUTURES_CHECK_SHEET_NAME>
  <TSE_FUTURES_CHECK_SHEET_PATH>\\sgfs\equity\NorthAsiaPacific\IDN JP Maintenance\Equity\FUTURE\TSEFuturesCheckSheetR1.xls</TSE_FUTURES_CHECK_SHEET_PATH>
  <TSE_FUTURES_CHECK_SHEET_NAME>RIC</TSE_FUTURES_CHECK_SHEET_NAME>
  <MAIL_ACCOUNT>
    <AccountName>UC159450</AccountName>
    <Password>Welcome1</Password>
    <Domain>TEN</Domain>
    <MailAddress>eti.asia@thomsonreuters.com</MailAddress>
  </MAIL_ACCOUNT>
  <FUTURE_RIC_EMAIL_QUERY>
    <Sender />
    <MailFolderPath>Inbox\02. GEDA Reports</MailFolderPath>
    <SubjectKeyword />
  </FUTURE_RIC_EMAIL_QUERY>
  <RCC_REPORT_EMAIL_QUERY>
    <Sender />
    <MailFolderPath>Inbox\01.RCC</MailFolderPath>
    <SubjectKeyword>RCC</SubjectKeyword>
  </RCC_REPORT_EMAIL_QUERY>
  <ALERT_MAIL_TO_LIST>
    <string>xiaxi.zhang@thomsonreuters.com</string>
    <string>qian.long@thomsonreuters.com</string>
    <string>ken.huang@thomsonreuters.com</string>
    <string>norimasa.iwakawa@thomsonreuters.com</string>
    <string>leefong.yong@thomsonreuters.com</string>
    <string>Mu.Tong@thomsonreuters.com</string>
    <string>xiaoxue.li@thomsonreuters.com</string>
    <string>Song.Ai@thomsonreuters.com</string>
    <string>emmaruoxin.wang@thomsonreuters.com</string>
    <string>jinghe.cui@thomsonreuters.com</string>
    <string>yazhen.sun@thomsonreuters.com</string>
    <string>Echo.Li@thomsonreuters.com</string>
    <string>iris.qin@thomsonreuters.com</string>
    <string>chenmei.zhang@thomsonreuters.com</string>
    <string>jinxue.guo@thomsonreuters.com</string>
    <string>heng.xiang@thomsonreuters.com</string>
  </ALERT_MAIL_TO_LIST>
  <ALERT_MAIL_CC_LIST />
</ETIE2EQCCheckerConfig>