<?xml version="1.0" encoding="utf-8" ?>
<!--Get data from http://www.set.or.th/set/todaynews.do?language=en&country=US and http://www.setsmart.com-->
<ThailandGeneratorConfig>
  <TailandRicFields>
    <string>DW issuer</string>
    <string>DW name</string>
    <string>Trading date</string>
    <string>Number of derivative warrants (unit:</string>
    <string>Underlying asset(s)</string>
    <string>Exercise ratio (DW : Underlying asset)</string>
    <string>Exercise price (baht per share)</string>
    <string>Last trading date</string>
    <string>Last exercise date</string>
  </TailandRicFields>

  <SavePath>D:\TailandRicTemplate</SavePath>
  
  <!--username and password is for login to SetSmart Site-->
  <username>25932633</username>
  <password>reuters1</password>

  <HeadLineContains>
    <string>C</string>
    <string>P</string>
  </HeadLineContains>

  <Symbol>SET</Symbol>
  <NewsTodayUrl><![CDATA[http://www.set.or.th/set/todaynews.do?language=en&country=US]]></NewsTodayUrl>
  
  <!--Rule 1: Check item between start_position and end_position.
  The default value:
  start_position=5  search start from the first news 
  end_position=0    search stop to the last news
  
  The interval between each item is 2, that's mean if you only want to check news from 1 to 5(sort by topdown) on
  http://www.set.or.th/set/todaynews.do?language=en&country=US , you should set
  
  start_position=5
  end_position=13
  
  Notes: 
  If defined a specified URL for html_url, start and end position will be ignore, priority of Rule 1 is lower than Rule 2
  -->
  <start_position>5</start_position>
  <end_position>0</end_position>
  
  <!--Rule 2:html_url, the default value is <NA>, a specified URL will speed up running time
    Sample: 
     <html_url>NA</html_url>
     <html_url><![CDATA[/set/newsdetails.do?type=H&time=1297322940000&filename=dat%2Fnews%2F201102%2F11003845.e11&source=SET&headline=SET+adds+new+listed+securities+%22BAY06CA%22+to+be+traded+on+February+14%2C+2011+%28Revised%29&symbol=BAY06CA&language=en&country=US]]></html_url>
  -->
  <html_url>NA</html_url>
  <!--<![CDATA[/set/newsdetails.do;jsessionid=097C3EBAFB5C88CF1796C473338F9D23?type=R&time=1300428283000&filename=dat%2Fprsnews%2Fnews%2F0000NWS180320111304430715E.txt&source=SET&headline=SET+adds+new+listed+securities+%22BGH42CA%22+to+be+traded+on+March+22%2C+2011&symbol=SET&localeoverriding=yes&country=US&language=en]]>-->
</ThailandGeneratorConfig>