<?xml version="1.0" encoding="utf-8"?>
<TWAddDropConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <FM_FILE_DIR>C:\Documents and Settings\meizhi.hu\Desktop\Requirements\Taiwan\AddDrop</FM_FILE_DIR>
  <TARGET_FILE_PATH>C:\Documents and Settings\meizhi.hu\Desktop\Requirements\Taiwan\AddDrop\AddDropResult.xls</TARGET_FILE_PATH>
  <TEMPLATE_FILE_PATH>C:\Documents and Settings\meizhi.hu\Desktop\Requirements\Taiwan\AddDrop\11.12.28.xls</TEMPLATE_FILE_PATH>
  <LOG_FILE_PATH>Log_TWAddDrop.log</LOG_FILE_PATH>  
</TWAddDropConfig>