<?xml version="1.0" encoding="utf-8"?>
<TWCBAnnouncementConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <LOG_FILE_PATH>Log_TWCBAnnouncement.log</LOG_FILE_PATH>
  <URL>http://mops.twse.com.tw/mops/web/t120sg03</URL>
  <CB_ANNOUNCEMENT_FILE_PATH>C:\Documents and Settings\meizhi.hu\Desktop\Requirements\Taiwan\CB ANNOUCEMENT\CB ANNOUCEMENT.xls</CB_ANNOUNCEMENT_FILE_PATH>
  <CB_PRICE_TXT_FILE_DIR>C:\Documents and Settings\meizhi.hu\Desktop\Requirements\Taiwan\CB ANNOUCEMENT</CB_PRICE_TXT_FILE_DIR>
  <CB_FILE_PATH>C:\Documents and Settings\meizhi.hu\Desktop\Requirements\Taiwan\CB ANNOUCEMENT\CB.xls</CB_FILE_PATH>
  <TO_TYPE_RECIPIENTS>
    <string>meizhi.hu</string>
  </TO_TYPE_RECIPIENTS>

  <CC_TYPE_RECIPIENTS>
    <string>meizhi.hu</string>
  </CC_TYPE_RECIPIENTS>
  
</TWCBAnnouncementConfig>