<?xml version="1.0" encoding="utf-8" ?>
<TWFMAddConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <ADD_FM_FILES_PATH>D:\TW</ADD_FM_FILES_PATH>
  <WARRANT_BACK_UP_FILE_PATH>D:\TW\TW+WARRANT+ADD+FM.xml</WARRANT_BACK_UP_FILE_PATH>
  <LOG_FILE_PATH>D:\TW\Log\Log_TWFMAdd.log</LOG_FILE_PATH>
  <MISSED_FILE_PATH>D:\TW\MISSED_WARRANTS.xls</MISSED_FILE_PATH>
</TWFMAddConfig>