<?xml version="1.0" encoding="utf-8"?>
<HKAdditonalRicSenderConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">

  <TO_TYPE_RECIPIENTS>
    <string>meizhi.hu</string>
    <string>fan.zhang</string>
  </TO_TYPE_RECIPIENTS>

  <CC_TYPE_RECIPIENTS>
    <string>meizhi.hu</string>
    <string>fan.zhang</string>
  </CC_TYPE_RECIPIENTS>

  <CBBC_FILE_PATH>C:\Documents and Settings\meizhi.hu\Desktop\Requirements\M8\SendEmail\AdditionalRicSender\CBBC\CBBCLog.txt</CBBC_FILE_PATH>
  <WARRANT_FILE_PATH>C:\Documents and Settings\meizhi.hu\Desktop\Requirements\M8\SendEmail\AdditionalRicSender\Warrant\WarrantLog.txt</WARRANT_FILE_PATH>
  <LOG_FILE_PATH>Log_HKAdditonalRicSender.log</LOG_FILE_PATH>
  <NAME_CHANGE_INFO>Hello ^_^</NAME_CHANGE_INFO>
</HKAdditonalRicSenderConfig>