<?xml version="1.0" encoding="utf-8" ?>
<HKDelistingAndNameChangConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">

  <SOURCE_FILE_PATH>D:\zhang fan\Delisting</SOURCE_FILE_PATH>
  <DELISTING_START_POSITION>17</DELISTING_START_POSITION>
  <CBBC_DELISTING_SAVE_PATH>D:\zhang fan\Delisting</CBBC_DELISTING_SAVE_PATH>
  <WARRANT_DELISTING_SAVE_PATH>D:\zhang fan\Delisting</WARRANT_DELISTING_SAVE_PATH>
  <NAMECHANGE_SAVE_PATH>D:\zhang fan\Delisting</NAMECHANGE_SAVE_PATH>
  <LOG_FILE_PATH>Log_HKDelistingAndNameChang.log</LOG_FILE_PATH>
  
</HKDelistingAndNameChangConfig>
