<?xml version="1.0" encoding="utf-8"?>
<HKFMAndBulkFileGeneratorConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <CBBC_GENERATOR_CONFIG>
    <CBBC_MAIN_PAGE_URI>http://www.hkex.com.hk/eng/cbbc/newissue/newlaunch.htm</CBBC_MAIN_PAGE_URI>
    <CBBC_LOG_NAME>CBBCLog.txt</CBBC_LOG_NAME>
    <CBBC_SUB_DIR>CBBC</CBBC_SUB_DIR>
    <CBBC_FM_SN>1000</CBBC_FM_SN>
    <CBBC_START_POS>155</CBBC_START_POS>
    <CBBC_END_POS>156</CBBC_END_POS>
  </CBBC_GENERATOR_CONFIG>

  <WARRANT_GENERATOR_CONFIG>
    <WARRANT_MAIN_PAGE_URI>http://www.hkex.com.hk/eng/dwrc/newissue/newlaunch.htm</WARRANT_MAIN_PAGE_URI>
    <WARRANT_LOG_NAME>WarrantLog.txt</WARRANT_LOG_NAME>
    <WARRANT_SUB_DIR>Warrant</WARRANT_SUB_DIR>
    <WARRANT_FM_SN>2000</WARRANT_FM_SN>
    <WARRANT_START_POS>155</WARRANT_START_POS>
    <WARRANT_END_POS>156</WARRANT_END_POS>
  </WARRANT_GENERATOR_CONFIG>

  <RIC_TEMPLATE_PATH>D:\HKRicTemplate</RIC_TEMPLATE_PATH>
  <PDF_FILE_DIR>D:\HKPDFFile</PDF_FILE_DIR>
  <IS_KEEP_PDF>true</IS_KEEP_PDF>
  <HOLIDAY_COUNT>0</HOLIDAY_COUNT>
  <TASK_LIST>
    <string>CBBCGenerator</string>
    <string>WarrantGenerator</string>
    <string>BulkFileGenerator</string>
  </TASK_LIST>
</HKFMAndBulkFileGeneratorConfig>