<?xml version="1.0" encoding="utf-8"?>
<HKFMAndIssueSenderConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  //Config for HKFM_22SEP2011_2.msg
  <FM_SENDER_CONFIG>
    <TO_TYPE_RECIPIENTS>
      <string>meizhi.hu</string>
      <string>fan.zhang</string>
    </TO_TYPE_RECIPIENTS>

    <CC_TYPE_RECIPIENTS>
      <string>meizhi.hu</string>
      <string>fan.zhang</string>
    </CC_TYPE_RECIPIENTS>
    <FM_FILE_DIR>C:\Documents and Settings\meizhi.hu\Desktop\Requirements\M8\SendEmail\FMAndIssueSender</FM_FILE_DIR>
  </FM_SENDER_CONFIG>

  //Config for Daily files from East Asia 20 SEP-2011 (HONG KONG).msg
  <ISSUE_SENDER_CONFIG>
    <TO_TYPE_RECIPIENTS>
      <string>meizhi.hu</string>
      <string>fan.zhang</string>
    </TO_TYPE_RECIPIENTS>

    <CC_TYPE_RECIPIENTS>
      <string>meizhi.hu</string>
      <string>fan.zhang</string>
    </CC_TYPE_RECIPIENTS>
    <ISSUE_FILE_DIR>C:\Documents and Settings\meizhi.hu\Desktop\Requirements\M8\SendEmail\FMAndIssueSender\Issue</ISSUE_FILE_DIR>
    <CBBC_ADD_FM_FILE_DIR>C:\Documents and Settings\meizhi.hu\Desktop\Requirements\M8\CBBCAddFileFM</CBBC_ADD_FM_FILE_DIR>
  </ISSUE_SENDER_CONFIG>
  
  <LOG_FILE_PATH>Log_HKFMAndIssueSender.log</LOG_FILE_PATH>
</HKFMAndIssueSenderConfig>