<?xml version="1.0" encoding="utf-8"?>
<HKISINUpdateConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <DOWNLOAD_FILE_DIR>C:\Documents and Settings\meizhi.hu\Desktop\Requirements\M11\HK\ISINUpdate</DOWNLOAD_FILE_DIR>
  <ISIN_RECORD_FILE_PATH>C:\Documents and Settings\meizhi.hu\Desktop\Requirements\M11\HK\ISINUpdate\ISIN Record.xls</ISIN_RECORD_FILE_PATH>
  <RIC_CONVS_TEMPLATE_V2_FILE_PATH>C:\Documents and Settings\meizhi.hu\Desktop\Requirements\M11\HK\ISINUpdate\RIC_Convs_Template_V2.xls</RIC_CONVS_TEMPLATE_V2_FILE_PATH>
  <WORKSHEET_NAME_TEMPLATE>INPUT SHEET</WORKSHEET_NAME_TEMPLATE>
  <DATE>20110112</DATE>
  <LOG_FILE_PATH>Log_HKISINUpdate.log</LOG_FILE_PATH>
</HKISINUpdateConfig>