<?xml version="1.0" encoding="utf-8"?>
<OptionRicGeneratorConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">

  <RIC_GENERATE_FILE_DIR>C:\Documents and Settings\meizhi.hu\Desktop\Requirements\M9\Stock Options Rics</RIC_GENERATE_FILE_DIR>
  <LOG_FILE_PATH>Log_HKStockOptionRicGenerator.log</LOG_FILE_PATH>
  <MAIN_PAGE_URI>http://www.hkex.com.hk/eng/market/sec_tradinfo/tradnews/prvtrad_day/news.htm</MAIN_PAGE_URI>
  
</OptionRicGeneratorConfig>