<?xml version="1.0" encoding="utf-8"?>
<ReadFMFiletoGenerateBulkFileConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <FM_SOURCE_FILE_PATH>D:\NewTask\HongKong\ReadFMFiletoGenerateTxtFile</FM_SOURCE_FILE_PATH>
  <FM_SOURCE_FILE_SHEET_NAME>FM</FM_SOURCE_FILE_SHEET_NAME>
  <MAIN_RESULT_FILE_PATH></MAIN_RESULT_FILE_PATH>
  <MI_RESULT_FILE_PATH></MI_RESULT_FILE_PATH>
  <LOG_FILE_PATH>Log_ReadFMFiletoGenerateBulkFileConfig.log</LOG_FILE_PATH>
</ReadFMFiletoGenerateBulkFileConfig>