<?xml version="1.0" encoding="utf-8"?>
<HKSEAConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <SOURCE_FILE_PATH>C:\Documents and Settings\meizhi.hu\Desktop\Requirements\M8\HKSEAUpdate\2011-10-20.xls</SOURCE_FILE_PATH>
  <ADD_DROP_FILE_PATH>C:\Documents and Settings\meizhi.hu\Desktop\Requirements\M8\HKSEAUpdate\new version of add-drop.xls</ADD_DROP_FILE_PATH>
  <RIC_COWS_TEMPLATE_V2_FILE_PATH>C:\Documents and Settings\meizhi.hu\Desktop\Requirements\M8\HKSEAUpdate\RIC_Convs_Template_V2.xls</RIC_COWS_TEMPLATE_V2_FILE_PATH>
  <HKSEA_Z2_FILE_PATH>C:\Documents and Settings\meizhi.hu\Desktop\Requirements\M8\HKSEAUpdate\HKSEA-Z2.xls</HKSEA_Z2_FILE_PATH>
  <SOURCE_FILE_WORKSHEET_NAME>VendorList</SOURCE_FILE_WORKSHEET_NAME>
  <ADD_DROP_RAW_WORKSHEET_NAME>RAW</ADD_DROP_RAW_WORKSHEET_NAME>
  <TEMPLATE_V2_WORKSHEET_NAME>INPUT SHEET</TEMPLATE_V2_WORKSHEET_NAME>
  <LOG_FILE_PATH>Log_HKSEAUpdate.log</LOG_FILE_PATH>
  <HOLIDAY_COUNT>0</HOLIDAY_COUNT>
  
</HKSEAConfig>