<?xml version="1.0" encoding="utf-8" ?>
<HKSPIndexCheckConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">

  <SP_INDEX_CHECK_LOG_PATH>
    <LOG_PATH>D:\HKRicTemplate</LOG_PATH>
    <SUB_FOLDER>SPIndexCheckLog</SUB_FOLDER>
    <FILE_NAME>SPIndexCheckLog.txt</FILE_NAME>
  </SP_INDEX_CHECK_LOG_PATH>
  
  <LOG_FILE_PATH>Log_SPIndexCheck.log</LOG_FILE_PATH>
  <HKL_FILE_PATH>D:\zhang fan\SP</HKL_FILE_PATH>
  <HKG_FILE_PATH>D:\zhang fan\SP</HKG_FILE_PATH>
  <XTRA3000_FILE_PATH>Xtra3000SPData.txt</XTRA3000_FILE_PATH>

</HKSPIndexCheckConfig>