<?xml version="1.0" encoding="utf-8"?>
<SCBDelistChangeNotificationConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">

  <GENERATED_SCB_FILE_PATH>C:\Documents and Settings\meizhi.hu\Desktop\Requirements\M8\SendEmail\Automation_Reuters_CHAN_DLST.CSV</GENERATED_SCB_FILE_PATH>
  <SOURCE_FM_FILE_PATH>C:\Documents and Settings\meizhi.hu\Desktop\Requirements\M8\SendEmail\HK11-3106_CHANGE_0376_02NOV2011.xls</SOURCE_FM_FILE_PATH>
  <LOG_FILE_PATH>Log_HKSCBDelistChangeNotification.log</LOG_FILE_PATH>
  
</SCBDelistChangeNotificationConfig>