<?xml version="1.0" encoding="utf-8" ?>

<HKSpeedGuideConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  
  <LOG_FILE_PATH>Log_HKSpeedGuide.log</LOG_FILE_PATH>
  <WARRANT_FOLDER_PATH>D:\HKRicTemplate\Warrant</WARRANT_FOLDER_PATH>
  <WAR_GUIDE_B_FOLDER_PATH>D:\zhang fan</WAR_GUIDE_B_FOLDER_PATH>
  <BACKUP_WAR_GUIDE_B_FOLDER_PATH>D:\zhang fan\Bak\</BACKUP_WAR_GUIDE_B_FOLDER_PATH>
  <HKSEA_FOLDER_PATH>D:\zhang fan</HKSEA_FOLDER_PATH>
  <WORKSHEET_WARRANT_GUIDE_B_INSERT_V3>INSERT V3</WORKSHEET_WARRANT_GUIDE_B_INSERT_V3>
  <WARRANT_GUIDE_B_TXT_FILE_DIR>D:\zhang fan</WARRANT_GUIDE_B_TXT_FILE_DIR>
</HKSpeedGuideConfig>