<?xml version="1.0" encoding="utf-8"?>
<HKTradingNewsConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">

  <LINK_NAME>OPTN NEWS- NEW OPTION SERIES</LINK_NAME>
  <LOG_FILE_PATH>D:\HKTradingNews\Log_HKTradingNews.log</LOG_FILE_PATH>
  <SAVE_PATH>D:\HKTradingNews</SAVE_PATH>
</HKTradingNewsConfig>