<?xml version="1.0" encoding="utf-8"?>
<HKWarrantAndCBBCFilesDownloadConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <START_DATE></START_DATE>
  <END_DATE></END_DATE>
  <CBBC_DOWNLOAD_FOLDER></CBBC_DOWNLOAD_FOLDER>
  <WARRANT_DOWNLOAD_FOLDER></WARRANT_DOWNLOAD_FOLDER>
  <GENERATE_DOWNLOAD_REPORTS_LIST_PATH></GENERATE_DOWNLOAD_REPORTS_LIST_PATH>
  <LOG_FILE_PATH>Log_HKWarrantAndCBBCFilesDownloadConfig.log</LOG_FILE_PATH>
</HKWarrantAndCBBCFilesDownloadConfig>