<?xml version="1.0" encoding="utf-8"?>
<HKBrokerPageFMConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <PREVIOUS_SEHKFILE_PATH>D:\Requirements\M7\BK_AUTO\CurrentDayFile.csv</PREVIOUS_SEHKFILE_PATH>
  <CURRENT_SEHKFILE_PATH>D:\Requirements\M7\BK_AUTO\CurrentDayFile.csv</CURRENT_SEHKFILE_PATH>
  <BROKER3H_FILE_PATH>D:\Requirements\M7\BK_AUTO\Broker3h.xls</BROKER3H_FILE_PATH>
  <LOG_FILE_PATH>Log_HKBrokerPageFM.log</LOG_FILE_PATH>

  <MASTER_WORKSHEET_NAME>Master</MASTER_WORKSHEET_NAME>
  <INSERT_WORKSHEET_NAME>Insert</INSERT_WORKSHEET_NAME>

  <CHINESE_VERSION_FILE_PATH>D:\Requirements\M7\BK_AUTO\Broker3h_Chinese.xls</CHINESE_VERSION_FILE_PATH>
  <CHINESE_VERSION_XML_FILE_PATH>D:\Requirements\M7\BK_AUTO\Broker3h_Chinese.xml</CHINESE_VERSION_XML_FILE_PATH>
  <ENGLISH_VERSION_XML_FILE_PATH>D:\Requirements\M7\BK_AUTO\Broker3h.xml</ENGLISH_VERSION_XML_FILE_PATH>
</HKBrokerPageFMConfig>