<?xml version="1.0" encoding="utf-8"?>
<HKCBBCAddFileFMConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <CBBC_SEC_FILES_DIR>D:\HKRicTemplate\CBBC</CBBC_SEC_FILES_DIR>
  <CBBC_PRODUCER_MACRO_FILE_PATH>C:\Documents and Settings\meizhi.hu\Desktop\Requirements\M8\CBBCAddFileFM\new CBBC Producer MACRO.xls</CBBC_PRODUCER_MACRO_FILE_PATH>
  <WRT_ADD_FILE_PATH>C:\Documents and Settings\meizhi.hu\Desktop\Requirements\M8\CBBCAddFileFM\WRT_ADD_28OCT2011_hongkongturbo.csv</WRT_ADD_FILE_PATH>
  <CBBC_SEC_FILE_WORKSHEET>FM_HKCBBC</CBBC_SEC_FILE_WORKSHEET>
  <MACRO_FM_WORKSHEET>FM</MACRO_FM_WORKSHEET>
  <MACRO_INPUT_WORKSHEET>Input</MACRO_INPUT_WORKSHEET>
  <MACRO_OUTPUT_WORKSHEET>Output</MACRO_OUTPUT_WORKSHEET>
  <HOLIDAY_COUNT>0</HOLIDAY_COUNT>
  
  <LOG_FILE_PATH>Log_HKCBBCAddFileFM.log</LOG_FILE_PATH> 
</HKCBBCAddFileFMConfig>