<?xml version="1.0" encoding="utf-8"?>
<HKShortSellConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <!-- Base URI-->
  <BASE_URI>http://www.hkex.com.hk/</BASE_URI>

  <!-- Short Sell Tasks: task name should be one of "HK-GEMSS", "HK-MAINSS", "HKMAIN01-10" and the tasks will run in order-->
  <SHORTSELL_TASKLIST>
    <string>HK-MAINSS</string>
    <string>HK-GEMSS</string>
    <string>HKMAIN01-10</string>
  </SHORTSELL_TASKLIST>

  <!-- Config for generating HKGEMSS.xls-->
  <HKGEMSS_CONFIG>
    <WORKBOOK_PATH>C:\Users\UC165661\Documents\task\HK Short Sell\HK-GEMSS.xls</WORKBOOK_PATH>
    <WORKSHEET_NAME>INSERT-GEM</WORKSHEET_NAME>
    <XML_FILE_PATH>C:\Users\UC165661\Documents\task\HK Short Sell\HK-GEMSS.xml</XML_FILE_PATH>
  </HKGEMSS_CONFIG>
  
  <!-- Config for generating HKMain01-10.xls-->
  <HKMAIN01_10_CONFIG>
    <WORKBOOK_PATH>C:\Users\UC165661\Documents\task\HK Short Sell\HKMAIN01-10.xls</WORKBOOK_PATH>
    <WORKSHEET_NAME>INSERT</WORKSHEET_NAME>
    <XML_FILE_PATH>C:\Users\UC165661\Documents\task\HK Short Sell\HKMAIN01-10.xml</XML_FILE_PATH>
  </HKMAIN01_10_CONFIG>


  <!-- Config for generating HKMAINSS.xls-->
  <HKMAINSS_CONFIG>
    <WORKBOOK_PATH>C:\Users\UC165661\Documents\task\HK Short Sell\HK-MAINSS.xls</WORKBOOK_PATH>
    <XML_FILE_PATH>C:\Users\UC165661\Documents\task\HK Short Sell\HK-MAINSS.xml</XML_FILE_PATH>
    <WORKSHEET_NAME>INSERT-MAIN</WORKSHEET_NAME>
    
    <!-- Page and Line information about HKMAIN01-10-->
    <PAGE_NUM_TO_COPY>24</PAGE_NUM_TO_COPY>
    <LINE_EACH_PAGE_TO_COPY>20</LINE_EACH_PAGE_TO_COPY>
    
    <!--Page and Line information about HKMAINSS-->
    <START_PAGE>26</START_PAGE>
    <LINE_NUM>24</LINE_NUM>
    <TOTAL_PAGE_NUM>99</TOTAL_PAGE_NUM>
  </HKMAINSS_CONFIG>
</HKShortSellConfig>