<?xml version="1.0" encoding="utf-8"?>
<AnnualTopixComponentChainUpdatorConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">

  <BASE_URL>http://www.tse.or.jp/english/market/topix/data/component.html</BASE_URL>
  <PDF_FILE_DIR>D:\Japan\</PDF_FILE_DIR>
  <SOURCE_PDF_FILE_PATH>C:\Documents and Settings\meizhi.hu\Desktop\meigara-201210-e.pdf</SOURCE_PDF_FILE_PATH>
  <CHAIN_LIST>
    <string>TOPX100: TOPIX 100 Large-Sized Stocks Index</string>
    <string>TOPX1000: TOPIX 1000 </string>
    <string>TOPXL: TOPIX Large70 </string>
    <string>TOPXC: TOPIX Core30 </string>
    <string>TOPXM: TOPIX Mid400 Medium-Sized Stocks Index </string>
    <string>TOPX500: TOPIX 500 </string>
    <string>TOPXS: TOPIX Small Small-Sized Stocks Index </string>
  </CHAIN_LIST>

  <RESULT_FILE_DIR>D:\Japan\</RESULT_FILE_DIR>

  <LOG_FILE_PATH>AnnualTopixComponentChainUpdator</LOG_FILE_PATH>
</AnnualTopixComponentChainUpdatorConfig>