<?xml version="1.0" encoding="utf-8"?>
<AnnualTopixREITChainUpdatorConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <BASE_URL>http://www.tse.or.jp/english/market/topix/data/reit.html</BASE_URL>
  <PDF_FILE_DIR>D:\Japan\</PDF_FILE_DIR>
  <SOURCE_PDF_FILE_PATH></SOURCE_PDF_FILE_PATH>

  <RESULT_FILE_DIR>D:\Japan\</RESULT_FILE_DIR>
  <IS_ANNUAL>true</IS_ANNUAL>

  <LOG_FILE_PATH>AnnualTopixREITChainUpdator</LOG_FILE_PATH>
</AnnualTopixREITChainUpdatorConfig>