<?xml version="1.0" encoding="utf-8"?>
<DailyNikkeiIndexChainUpdatorConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">

  <BASE_URL>http://indexes.nikkei.co.jp/en/nkave/index</BASE_URL>
  <CHAIN_LIST>
    <string>0#.N225: nk225</string>
    <string>0#.N300: nk300</string>
    <string>N500: nk500av</string>
    <string>N1000: nkj1000</string>
    <string>NCHN: nkcrs50</string>
  </CHAIN_LIST>

  <RESULT_FILE_DIR>D:\Japan\</RESULT_FILE_DIR>

  <LOG_FILE_PATH>DailyNikkeiIndexChainUpdator</LOG_FILE_PATH>
</DailyNikkeiIndexChainUpdatorConfig>