<?xml version="1.0" encoding="utf-8"?>
<IndexChainDBSyncConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <N225_CONFIG>
    <FILE_PATH></FILE_PATH>
    <NEW_CODE_LIST></NEW_CODE_LIST>
    <DELETE_CODE_LIST></DELETE_CODE_LIST>
  </N225_CONFIG>

  <N300_CONFIG>
    <FILE_PATH></FILE_PATH>
    <NEW_CODE_LIST></NEW_CODE_LIST>
    <DELETE_CODE_LIST></DELETE_CODE_LIST>
  </N300_CONFIG>

  <N500_CONFIG>
    <FILE_PATH></FILE_PATH>
    <NEW_CODE_LIST></NEW_CODE_LIST>
    <DELETE_CODE_LIST></DELETE_CODE_LIST>
  </N500_CONFIG>

  <N1000_CONFIG>
    <FILE_PATH></FILE_PATH>
    <NEW_CODE_LIST></NEW_CODE_LIST>
    <DELETE_CODE_LIST></DELETE_CODE_LIST>
  </N1000_CONFIG>

  <NCHN_CONFIG>
    <FILE_PATH></FILE_PATH>
    <NEW_CODE_LIST></NEW_CODE_LIST>
    <DELETE_CODE_LIST></DELETE_CODE_LIST>
  </NCHN_CONFIG>

  <TREITO_CONFIG>
    <FILE_PATH></FILE_PATH>
    <NEW_CODE_LIST></NEW_CODE_LIST>
    <DELETE_CODE_LIST></DELETE_CODE_LIST>
  </TREITO_CONFIG>

  <TREITR_CONFIG>
    <FILE_PATH></FILE_PATH>
    <NEW_CODE_LIST></NEW_CODE_LIST>
    <DELETE_CODE_LIST></DELETE_CODE_LIST>
  </TREITR_CONFIG>

  <TREITL_CONFIG>
    <FILE_PATH></FILE_PATH>
    <NEW_CODE_LIST></NEW_CODE_LIST>
    <DELETE_CODE_LIST></DELETE_CODE_LIST>
  </TREITL_CONFIG>

  <MTHRC_CONFIG>
    <FILE_PATH></FILE_PATH>
    <NEW_CODE_LIST></NEW_CODE_LIST>
    <DELETE_CODE_LIST></DELETE_CODE_LIST>
  </MTHRC_CONFIG>

  <TOPX100_CONFIG>
    <FILE_PATH></FILE_PATH>
    <NEW_CODE_LIST></NEW_CODE_LIST>
    <DELETE_CODE_LIST></DELETE_CODE_LIST>
  </TOPX100_CONFIG>

  <TOPX1000_CONFIG>
    <FILE_PATH></FILE_PATH>
    <NEW_CODE_LIST></NEW_CODE_LIST>
    <DELETE_CODE_LIST></DELETE_CODE_LIST>
  </TOPX1000_CONFIG>

  <TOPXL_CONFIG>
    <FILE_PATH></FILE_PATH>
    <NEW_CODE_LIST></NEW_CODE_LIST>
    <DELETE_CODE_LIST></DELETE_CODE_LIST>
  </TOPXL_CONFIG>

  <TOPXC_CONFIG>
    <FILE_PATH></FILE_PATH>
    <NEW_CODE_LIST></NEW_CODE_LIST>
    <DELETE_CODE_LIST></DELETE_CODE_LIST>
  </TOPXC_CONFIG>

  <TOPXM_CONFIG>
    <FILE_PATH></FILE_PATH>
    <NEW_CODE_LIST></NEW_CODE_LIST>
    <DELETE_CODE_LIST></DELETE_CODE_LIST>
  </TOPXM_CONFIG>

  <TOPX500_CONFIG>
    <FILE_PATH></FILE_PATH>
    <NEW_CODE_LIST></NEW_CODE_LIST>
    <DELETE_CODE_LIST></DELETE_CODE_LIST>
  </TOPX500_CONFIG>

  <TOPXS_CONFIG>
    <FILE_PATH></FILE_PATH>
    <NEW_CODE_LIST></NEW_CODE_LIST>
    <DELETE_CODE_LIST></DELETE_CODE_LIST>
  </TOPXS_CONFIG>

  <LOG_FILE_PATH></LOG_FILE_PATH>

</IndexChainDBSyncConfig>