<?xml version="1.0" encoding="utf-8"?>
<IndexConstituentChianUpdatorConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">

  <PDF_FILE_PATH>D:\Japan\</PDF_FILE_PATH>
  <n500UpdatorConfig>
    <URL>http://indexes.nikkei.co.jp/en/nkave/index/component?idx=nk500av</URL>
  </n500UpdatorConfig>


  <LOG_FILE_PATH>IndexChainUpdator</LOG_FILE_PATH>
</IndexConstituentChianUpdatorConfig>