<?xml version="1.0" encoding="utf-8"?>
<JapanLargeTransOSEOptionAndFutureUpdatorConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <MAIL_SUBJECT_KEYWORD>(日経225オプション取引手口情報)</MAIL_SUBJECT_KEYWORD>
  <OUTLOOK_ACCOUNT_NAME>Asia ETI automation</OUTLOOK_ACCOUNT_NAME>
  <ROW_NUM_OPTIONS>21</ROW_NUM_OPTIONS>
  <ROW_NUM_FUTURES>20</ROW_NUM_FUTURES>
  <TARGET_FILE_DIR>D:\Japan</TARGET_FILE_DIR>
  <BAKNOTE_FILE_PATH>D:\Work\ETI\bak\18_Jan_2012\RicGeneratorUI\Config\Japan\Bnknote.xls</BAKNOTE_FILE_PATH>
  <WORKSHEETNAME_BAKNOTE>Sheet1</WORKSHEETNAME_BAKNOTE>
  <SOURCE_ATTACHED_FILE_DIR>C:\</SOURCE_ATTACHED_FILE_DIR>
  <TARGET_FILE_VERSION>07</TARGET_FILE_VERSION>
  <MAIL_FOLDER></MAIL_FOLDER>
  <ATTACHED_FILE_NAME_KEYWORD>手口上位一覧__日中取引(立会)</ATTACHED_FILE_NAME_KEYWORD>
  <MAIL_SENDER_ALIAS>meizhi.hu</MAIL_SENDER_ALIAS>
  <LOG_FILE_PATH>JapanOSETradeVolumeUpdator.log</LOG_FILE_PATH>
</JapanLargeTransOSEOptionAndFutureUpdatorConfig>