<?xml version="1.0" encoding="utf-8"?>
<JapanTRADGUpdatorConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <TSE_URI>http://www.tse.or.jp/market/data/program/index.html</TSE_URI>
  <SOURCE_FILE_DIR>D:\Japan</SOURCE_FILE_DIR>
  <TARGET_FILE_DIR>D:\Japan</TARGET_FILE_DIR>
  <BAKNOTE_FILE_PATH>D:\Work\ETI\bak\18_Jan_2012\RicGeneratorUI\Config\Japan\Bnknote.xls</BAKNOTE_FILE_PATH>
  <HOLIDAY_INFO_FILE_PATH>D:\Work\ETI\bak\18_Jan_2012\RicGeneratorUI\Config\Japan\Holiday.xml</HOLIDAY_INFO_FILE_PATH>
  <WORKSHEET_NAME>Sheet1</WORKSHEET_NAME>
  <PRINTER_NAME>\\BJZITRENDOS1.apac.ime.reuters.com\BJS01PTR012</PRINTER_NAME>
  <LOG_FILE_PATH>JapanT_TRADGUpdator.log</LOG_FILE_PATH>
</JapanTRADGUpdatorConfig>