<?xml version="1.0" encoding="utf-8"?>
<JapanKabusaki3MailRelatedTasksConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Sender>kabusaki3</Sender>
  <AccountName>Asia ETI automation</AccountName>
  <MailFolderPath>Inbox\東証派生商品資料</MailFolderPath>
  <SubjectKeyword>東証派生商品資料</SubjectKeyword>
  <MailDate></MailDate>
  <!--<SubjectExcludedwordList></SubjectExcludedwordList>-->

  <SOURCE_ATTACHED_FILE_DIR>D:\Japan</SOURCE_ATTACHED_FILE_DIR>
  <TARGET_FILE_DIR>D:\Japan</TARGET_FILE_DIR>
  <BAKNOTE_FILE_PATH>D:\Work\ETI\bak\18_Jan_2012\RicGeneratorUI\Config\Japan\Bnknote.xls</BAKNOTE_FILE_PATH>
  <HOLIDAY_INFO_FILE_PATH>D:\Work\ETI\bak\18_Jan_2012\RicGeneratorUI\Config\Japan\Holiday.xml</HOLIDAY_INFO_FILE_PATH>
  <WORKSHEETNAME_BAKNOTE>Sheet1</WORKSHEETNAME_BAKNOTE>
  <TARGET_FILE_VERSION>07</TARGET_FILE_VERSION>
  <PRINTER_NAME>\\BJZITRENDOS1.apac.ime.reuters.com\BJS01PTR012</PRINTER_NAME>

  <TRADEConfig>
    <ATTACH_FILE_NAME_KEYWORD>TOPIX先物手口</ATTACH_FILE_NAME_KEYWORD>
    <WORKSHEET_NAME>TOPIX先物</WORKSHEET_NAME>
    <ROW_NUM>21</ROW_NUM>
  </TRADEConfig>

  <TRADFConfig>
    <ATTACH_FILE_NAME_KEYWORD>hhhhhhhhh</ATTACH_FILE_NAME_KEYWORD>
    <WORKSHEET_NAME>印刷用</WORKSHEET_NAME>
    <ROW_NUM>21</ROW_NUM>
  </TRADFConfig>

  <TRADR_TConfig>
    <ATTACH_FILE_NAME_KEYWORD>teguchi</ATTACH_FILE_NAME_KEYWORD>
    <WORKSHEET_NAME>TOPIX先物</WORKSHEET_NAME>
    <ROW_NUM>21</ROW_NUM>
  </TRADR_TConfig>

  <DailyTopTConfig>
    <ATTACH_FILE_NAME_KEYWORD>株OP取引手</ATTACH_FILE_NAME_KEYWORD>
    <!--<WORKSHEET_NAME>TOPIX先物</WORKSHEET_NAME>-->
    <ROW_NUM>21</ROW_NUM>  
  </DailyTopTConfig>

  <WeeklyTopTConfig>
    <ATTACH_FILE_NAME_KEYWORD>有価証券OP取引参加者別建玉残高公表用</ATTACH_FILE_NAME_KEYWORD>
    <!--<WORKSHEET_NAME>TOPIX先物</WORKSHEET_NAME>-->
    <ROW_NUM>21</ROW_NUM>
  </WeeklyTopTConfig>
  
  <LOG_FILE_PATH>JapanOSETradeVolumeUpdator.log</LOG_FILE_PATH>
</JapanKabusaki3MailRelatedTasksConfig>