<?xml version="1.0" encoding="utf-8"?>
<JapanOSETradeVolumeUpdatorConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <OSE_URI>http://www.tse.or.jp/market/data/program/index.html</OSE_URI>
  <!--<USERNAME></USERNAME>
  <PASSWORD></PASSWORD>-->
  <TARGET_FILE_VERSION>07</TARGET_FILE_VERSION>
  <DOWNLOAD_FILES_DIR>D:\Japan</DOWNLOAD_FILES_DIR>
  <TARGET_FILE_DIR>D:\Japan</TARGET_FILE_DIR>
  <BAKNOTE_FILE_PATH>D:\Work\ETI\bak\18_Jan_2012\RicGeneratorUI\Config\Japan\Bnknote.xls</BAKNOTE_FILE_PATH>
  <HOLIDAY_INFO_FILE_PATH>D:\Work\ETI\bak\18_Jan_2012\RicGeneratorUI\Config\Japan\Holiday.xml</HOLIDAY_INFO_FILE_PATH>
  <WORKSHEETNAME_BAKNOTE>Sheet1</WORKSHEETNAME_BAKNOTE>
  <PRINTER_NAME>\\BJZITRENDOS1.apac.ime.reuters.com\BJS01PTR012</PRINTER_NAME>
  <TASKLIST>
    <string>OS225FUU</string>
    <string>OS225OPZ</string>
    <string>OSOPT</string>
  </TASKLIST>
  <OSE225FUUConfig>
    <LINE_NUMBER>15</LINE_NUMBER>
    <WORKSHEET_NAME_OS225FUU>OS225FUU</WORKSHEET_NAME_OS225FUU>
    <WORKSHEET_NAME_OS225FUX>OS225FUX</WORKSHEET_NAME_OS225FUX>
    <WORKSHEET_NAME_OS300FUU>OS300FUU</WORKSHEET_NAME_OS300FUU>
    <SOURCE_FILE_PATH>C:\Documents and Settings\meizhi.hu\Desktop\Requirements\Japan\Weekly  1st\SOUECE_指数先物取引.xls</SOURCE_FILE_PATH>
  </OSE225FUUConfig>

  <OSE225FUXConfig>
    <WORKSHEET_NAME_CALL>CALL</WORKSHEET_NAME_CALL>
    <WORKSHEET_NAME_PUT>PUT</WORKSHEET_NAME_PUT>
    <LINE_NUMBER>15</LINE_NUMBER>
    <SOURCE_FILE_PATH>C:\Documents and Settings\meizhi.hu\Desktop\Requirements\Japan\Weekly  1st\SOURCE_日経225オプション取引.xls</SOURCE_FILE_PATH>
  </OSE225FUXConfig>

  <OSEOPTConfig>
    <SOURCE_FILE_PATH>C:\Documents and Settings\meizhi.hu\Desktop\Requirements\Japan\Weekly  1st\SOURCE_個別証券オプション取引.xls</SOURCE_FILE_PATH>
  </OSEOPTConfig>
  
  <LOG_FILE_PATH>JapanOSETradeVolumeUpdator.log</LOG_FILE_PATH>
</JapanOSETradeVolumeUpdatorConfig>