<?xml version="1.0" encoding="utf-8"?>
<ChinaIndicesAdjustmentConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <SOURCE_RIC_IN_3000>C:\Documents and Settings\meizhi.hu\Desktop\Requirements\China\IndicesAdjustment\Copy of RICs in 3000.xls</SOURCE_RIC_IN_3000>
  <WORKSHEET_SOURCE>CSI-1-50</WORKSHEET_SOURCE>
  <TARGET_INDICES_ADJUSTMENT_FILE_NAME>C:\Documents and Settings\meizhi.hu\Desktop\Requirements\China\IndicesAdjustment\IndicesAdjustResult.xls</TARGET_INDICES_ADJUSTMENT_FILE_NAME>
  <WORKSHEET_ADD_IN>Add-In</WORKSHEET_ADD_IN>
  <WORKSHEET_MOVE_OUT>Move-out</WORKSHEET_MOVE_OUT>
  <CSI_ADJUSTMENT>C:\Documents and Settings\meizhi.hu\Desktop\Requirements\China\IndicesAdjustment\CSI Adjustment(2012-Jan-04).xls</CSI_ADJUSTMENT>
  <CHAIN_NUM_PER_SHEET>10</CHAIN_NUM_PER_SHEET>
  <LOG_FILE_PATH>Log_CHinaISINGenerator.log</LOG_FILE_PATH>
  
</ChinaIndicesAdjustmentConfig>