<?xml version="1.0" encoding="utf-8"?>
<ChinaIndexQCConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <SSE_BASE_URI>http://www.sse.com.cn</SSE_BASE_URI>
  <CSI_BASE_URI>http://www.csindex.com.cn</CSI_BASE_URI>
  <SZSE_BASE_URI>http://www.szse.cn</SZSE_BASE_URI>

  <TARGET_FILE_DIR>D:\Index\Result</TARGET_FILE_DIR>
  <CHAIN_NUM_PER_SHEET>20</CHAIN_NUM_PER_SHEET>
  <LOG_FILE_PATH>Log_CHNIndexQC.log</LOG_FILE_PATH>
  
</ChinaIndexQCConfig>