<?xml version="1.0" encoding="utf-8"?>
<ChinaISINConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <QUERY_URL>http://www.chinaclear.cn/isin/isinbiz/queryCommon.do?m=querycommon</QUERY_URL>
  <SOURCE_FILE_PATH>C:\Documents and Settings\meizhi.hu\Desktop\Requirements\China\China Masterfile 2008 v5.xls</SOURCE_FILE_PATH>
  <TARGET_ISIN_FILE_NAME>NewISIN.csv</TARGET_ISIN_FILE_NAME>
  <EQUITY_WORKSHEET>Equity</EQUITY_WORKSHEET>
  <BOND_WORKSHEET>Bond</BOND_WORKSHEET>
  <LOG_FILE_PATH>Log_CHinaISINGenerator.log</LOG_FILE_PATH>
  
</ChinaISINConfig>