<?xml version="1.0" encoding="utf-8" ?>
<KOREA_CompanyWarrantChangeGeneratorConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <LOG_FILE_PATH>C:\Korea_FM\LOG\</LOG_FILE_PATH>
  <Korea_CompanyListFolder>C:\Korea_Auto\Company_Warrant\Company_List_Folder\</Korea_CompanyListFolder>
  <Korea_CompanyWarrantChange_startDate>2011-12-02</Korea_CompanyWarrantChange_startDate>
  <Korea_CompanyWarrantChange_endDate>2011-12-05</Korea_CompanyWarrantChange_endDate>

  <Korea_CompanyWarrantChange_WarrantChange_GEDA_SAVE_PATH>C:\Korea_Auto\Company_Warrant\WarrantChange\GEDA\</Korea_CompanyWarrantChange_WarrantChange_GEDA_SAVE_PATH>
  <Korea_CompanyWarrantChange_WarrantChangeAndQuantityChange_FM_SAVE_PATH>C:\Korea_Auto\Company_Warrant\FM\</Korea_CompanyWarrantChange_WarrantChangeAndQuantityChange_FM_SAVE_PATH>
  <Korea_CompanyWarrantChange_WarrantChange_NDA_SAVE_PATH>C:\Korea_Auto\Company_Warrant\WarrantChange\NDA\</Korea_CompanyWarrantChange_WarrantChange_NDA_SAVE_PATH>
  <!-- Read data from company warrant listing items -->
  <Korea_ReadDataFromCompanyWarrantListingItemsListConfig>
    <WORKBOOK_PATH>C:\Korea_Auto\Company_Warrant\company warrant listing itmes.xls</WORKBOOK_PATH>
    <WORKSHEET_NAME>Sheet1</WORKSHEET_NAME>
  </Korea_ReadDataFromCompanyWarrantListingItemsListConfig>

  <Korea_CompanyWarrantChange_GenerateFileConfig>
    <WORKBOOK_PATH>C:\Korea_Auto\Company_Warrant\Warrant_ADD\</WORKBOOK_PATH>
    <WORKSHEET_NAME>Sheet1</WORKSHEET_NAME>
  </Korea_CompanyWarrantChange_GenerateFileConfig>
  <ALERT_MAIL_TO_LIST>
    <string>jackson.chen@thomsonreuters.com</string>
  </ALERT_MAIL_TO_LIST>
  <ALERT_MAIL_CC_LIST>
    <string>jackson.chen@thomsonreuters.com</string>
  </ALERT_MAIL_CC_LIST>
  <ALERT_MAIL_INSCRIBED_INFORMATION_LIST>
    <string>Ruoxin Wang (王若心) </string>
    <string>Content Analyst</string>
    <string></string>
    <string>Thomson Reuters </string>
    <string></string>
    <string>Phone: +86 10 6267 4614 </string>
    <string>emmaruoxin.wang@thomsonreuters.com</string>
    <string>thomsonreuters.com </string>
  </ALERT_MAIL_INSCRIBED_INFORMATION_LIST>

</KOREA_CompanyWarrantChangeGeneratorConfig>