<?xml version="1.0" encoding="utf-8" ?>
<KOREA_ELWFMGeneratorConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  
  <LOG_FILE_PATH>C:\Korea_FM\LOG\</LOG_FILE_PATH>

  <Korea_ELWFM_ReadFilePath_CONFIG>
    <WORKBOOK_PATH>C:\Korea_FM\ELW_FM\Korea ELW FM Masterfile.xls</WORKBOOK_PATH>
    <WORKSHEET_NAME>Warrant Add</WORKSHEET_NAME>
  </Korea_ELWFM_ReadFilePath_CONFIG>

  <!-- Generate result file for ELW FM1 -->
  <Korea_ELWFM1_GenerateFile_CONFIG>
    <StartDate>20111031</StartDate>
    <EndDate>20111031</EndDate>
    <!-- count by seconds , result=(input * 1000) -->
    <delayTime>60</delayTime>
    <WORKBOOK_PATH>C:\Korea_FM\ELW_FM\ELW_FM1\</WORKBOOK_PATH>
    <WORKSHEET_NAEM>Sheet1</WORKSHEET_NAEM>
  </Korea_ELWFM1_GenerateFile_CONFIG>

  <!-- Generate result file for ELW FM2 -->
  <Korea_ELWFM2_GenerateFile_CONFIG>
    <PDF_PATH>C:\Documents and Settings\penglong.xu\Desktop\PDF\</PDF_PATH>
    <TEXT_PATH>C:\Documents and Settings\penglong.xu\Desktop\TEXT\</TEXT_PATH>
    <SplitDate>2011-10-31</SplitDate>
    <WORKBOOK_PATH>C:\Korea_FM\ELW_FM\ELW_FM2\</WORKBOOK_PATH>
    <WORKSHEET_NAEM>Sheet1</WORKSHEET_NAEM>
  </Korea_ELWFM2_GenerateFile_CONFIG>

  <!-- Generate result file for ELW Drop -->
  <Korea_ELWFMDrop_GenerateFile_CONFIG>
    <StartDate>2011-10-31</StartDate>
    <WORKBOOK_PATH>C:\Korea_FM\ELW_FM\ELW_Drop\</WORKBOOK_PATH>
    <WORKSHEET_NAEM>Sheet1</WORKSHEET_NAEM>
  </Korea_ELWFMDrop_GenerateFile_CONFIG>

  <!-- Generate result file for ELW FM SingleSearch -->
  <Korea_ELWFMSingleSearch_GenerateFile_CONFIG>
    <InputISIN>KRA5531011B4</InputISIN>
    <WORKBOOK_PATH>C:\Korea_Auto\ELW_FM\ELW_FM_SingleSearch\</WORKBOOK_PATH>
    <WORKSHEET_NAEM>Sheet1</WORKSHEET_NAEM>
  </Korea_ELWFMSingleSearch_GenerateFile_CONFIG>

  <!-- Generate result file for ELW FM Further_Issuer -->
  <Korea_ELWFMFurtherIssuer_GenerateFile_CONFIG>
    <SplitDate>2011-10-31</SplitDate>
    <WORKBOOK_PATH>C:\Korea_FM\ELW_FM\ELW_FM_Further_Issuer\</WORKBOOK_PATH>
    <WORKSHEET_NAEM>Sheet1</WORKSHEET_NAEM>
  </Korea_ELWFMFurtherIssuer_GenerateFile_CONFIG>
</KOREA_ELWFMGeneratorConfig>