<?xml version="1.0" encoding="utf-8" ?>
<KOREA_ELWFM1ELWDropAndFileBulkGeneratorConfig  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">

  <LOG_FILE_PATH>C:\Korea_Auto\Log\</LOG_FILE_PATH>
  <Korea_StartDate>2011-12-07</Korea_StartDate>
  <Korea_EndDate>2011-12-07</Korea_EndDate>

  <Korea_ELWDrop_Config>
    <Korea_ELWDrop_AppendToMasterfileConfig>
      <WORKBOOK_PATH>C:\Korea_Auto\ELW_FM\Korea ELW Drop FM Masterfile.xls</WORKBOOK_PATH>
      <WORKSHEET_NAME>Warrant Add</WORKSHEET_NAME>
    </Korea_ELWDrop_AppendToMasterfileConfig>
    <Korea_TableOfPilc>C:\Korea_Auto\ELW_FM\TAG and PILC.xls</Korea_TableOfPilc>
    <Korea_ELWDrop_GenerateFileConfig>
      <WORKBOOK_PATH>C:\Korea_Auto\ELW_FM\ELW_FM1\</WORKBOOK_PATH>
      <WORKSHEET_NAME>Sheet1</WORKSHEET_NAME>
    </Korea_ELWDrop_GenerateFileConfig>
  </Korea_ELWDrop_Config>

  <Korea_ELWFM1_Config>
    <Korea_FM1_AppendToMasterfileConfig>
      <WORKBOOK_PATH>C:\Korea_Auto\ELW_FM\Korea ELW FM Masterfile.xls</WORKBOOK_PATH>
      <WORKSHEET_NAME>Warrant Add</WORKSHEET_NAME>
    </Korea_FM1_AppendToMasterfileConfig>

    <Korea_FM1_GenerateFileConfig>
      <WORKBOOK_PATH>C:\Korea_Auto\ELW_FM\ELW_FM1\</WORKBOOK_PATH>
      <WORKSHEET_NAME>Sheet1</WORKSHEET_NAME>
    </Korea_FM1_GenerateFileConfig>
  </Korea_ELWFM1_Config>

  <Korea_FileBulkGenerate_Config>
    <WORKBOOK_PATH>C:\Korea_Auto\ELW_FM\ELW_FM1\</WORKBOOK_PATH>
  </Korea_FileBulkGenerate_Config>
  <Korea_FM1_MailToSend>
    <string>xiaolei.wang@thomsonreuters.com</string>
  </Korea_FM1_MailToSend>
  <Korea_FM1_MailToSend_CC>
    <string>xiaolei.wang@thomsonreuters.com</string>
  </Korea_FM1_MailToSend_CC>
  <Korea_FM1_MailToSend_Signature>
    <string>xiaolei.wang@thomsonreuters.com</string>
  </Korea_FM1_MailToSend_Signature>
</KOREA_ELWFM1ELWDropAndFileBulkGeneratorConfig>


