<?xml version="1.0" encoding="utf-8" ?>
<KOREA_ELWSearchByISINGeneratorConfig  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" >
  <LOG_FILE_PATH>C:\Korea_Auto\Log\</LOG_FILE_PATH>
  <ISINList>
    <string></string>
    <string></string>
  </ISINList>
  
  <Korea_SearchByISIN_GenerateFileConfig>
    <WORKBOOK_PATH>C:\Korea_Auto\ELW_FM\ELW_FM_SingleSearch\</WORKBOOK_PATH>
    <WORKSHEET_NAME>Sheet1</WORKSHEET_NAME>
  </Korea_SearchByISIN_GenerateFileConfig>

</KOREA_ELWSearchByISINGeneratorConfig>