<?xml version="1.0" encoding="utf-8" ?>
<KOREA_EquityGeneratorConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <!-- Log file Collections -->
  <LOG_FILE_PATH>C:\Korea_FM\LOG\</LOG_FILE_PATH>

  <!-- this config is just used for all equity instrument -->
  <Korea_EQUITY_ReadFile_CONFIG>
    <WORKBOOK_PATH>C:\Korea_Auto\Equity_Warrant\Korea Equity Warrant Masterfile.xlsx</WORKBOOK_PATH>
    <WORKSHEET_NAME>Sheet1</WORKSHEET_NAME>
  </Korea_EQUITY_ReadFile_CONFIG>

  <!-- this config is just used for NameChange and RICUpgrade -->
  <Korea_KQorKSList_ReadFilePath_CONFIG>
    <WORKBOOK_PATH>C:\Korea_Auto\Equity_Warrant\KS and KQ listing equity list.xls</WORKBOOK_PATH>
    <WORKSHEET_NAME>Stock</WORKSHEET_NAME>
  </Korea_KQorKSList_ReadFilePath_CONFIG>


  <!-- this config is just used for generator PEO file -->
  <Korea_PEO_GeneratorFile_CONFIG>
    <StartDate>20111031</StartDate>
    <WORKBOOK_PATH>C:\Korea_Auto\Equity_Warrant\PEO\</WORKBOOK_PATH>
    <WORKSHEET_NAEM>Sheet1</WORKSHEET_NAEM>
  </Korea_PEO_GeneratorFile_CONFIG>

  <!-- this config is just used for generator PEOAdd file -->
  <Korea_PEOAdd_RICUpgrade_GeneratorFile_CONFIG>
    <StartDate>2011-10-28</StartDate>
    <PEOAdd_WORKBOOK_PATH>C:\Korea_Auto\Equity_Warrant\PEO_ADD\PEOADD\</PEOAdd_WORKBOOK_PATH>
    <PEOAdd_WORKSHEET_NAEM>Sheet1</PEOAdd_WORKSHEET_NAEM>
    <RICUpgrade_WORKBOOK_PATH>C:\Korea_Auto\Equity_Warrant\PEO_ADD\RICUpgrade\</RICUpgrade_WORKBOOK_PATH>
    <RICUpgrade_WORKSHEET_NAEM>Sheet1</RICUpgrade_WORKSHEET_NAEM>
  </Korea_PEOAdd_RICUpgrade_GeneratorFile_CONFIG>
  
  <!-- this config is just used for Generator REITs file -->
  <Korea_REIT_GeneratorFile_CONFIG>
    <StartDate>20111031</StartDate>
    <WORKBOOK_PATH>C:\Korea_Auto\Equity_Warrant\REITs\</WORKBOOK_PATH>
    <WORKSHEET_NAEM>Sheet1</WORKSHEET_NAEM>
  </Korea_REIT_GeneratorFile_CONFIG>

  <!-- this config is just used for Generator ETF file -->
  <Korea_ETF_GeneratorFile_CONFIG>
    <StartDate>20111031</StartDate>
    <WORKBOOK_PATH>C:\Korea_Auto\Equity_Warrant\ETF\</WORKBOOK_PATH>
    <WORKSHEET_NAEM>Sheet1</WORKSHEET_NAEM>
  </Korea_ETF_GeneratorFile_CONFIG>

  <!-- this config is just used for Generator NameChange file -->
  <Korea_NameChange_GeneratorFile_CONFIG>
    <StartDate>20111031</StartDate>
    <WORKBOOK_PATH>C:\Korea_Auto\Equity_Warrant\Name_Change\</WORKBOOK_PATH>
    <WORKSHEET_NAEM>Sheet1</WORKSHEET_NAEM>
  </Korea_NameChange_GeneratorFile_CONFIG>

</KOREA_EquityGeneratorConfig>