<?xml version="1.0" encoding="utf-8" ?>
<KOREA_IndexGeneratorConfig>
  <!-- Log file Collections -->
  <LOG_FILE_PATH>C:\Korea_Auto\LOG\</LOG_FILE_PATH>
  <!-- Read -->
  <Korea_Index_ReadFile_CONFIG>
    <WORKBOOK_PATH>C:\Korea_Auto\Index\index.xls</WORKBOOK_PATH>
    <KOSPI_SHEETNAME>KOSPI</KOSPI_SHEETNAME>
    <KOSDAQ_SHEETNAME>KOSDAQ</KOSDAQ_SHEETNAME>
    <KRX_SHEETNAME>KRX</KRX_SHEETNAME>
  </Korea_Index_ReadFile_CONFIG>

  <!-- this config is just used for NameChange and RICUpgrade -->
  <Korea_KQorKSList_ReadFilePath_CONFIG>
    <WORKBOOK_PATH>C:\Korea_Auto\KS and KQ listing equity list.xls</WORKBOOK_PATH>
    <WORKSHEET_NAME>Stock</WORKSHEET_NAME>
  </Korea_KQorKSList_ReadFilePath_CONFIG>

  <Korea_index_OrignalFile_CONFIG>
    <WORKBOOK_PATH>C:\Korea_Auto\Index\Orignal file1.xlsx</WORKBOOK_PATH>
  </Korea_index_OrignalFile_CONFIG>

  <Korea_Index_GeneratorFile_CONFIG>
    <WORKBOOK_PATH>C:\Korea_Auto\Index\KR_FM Request_index adjustments for 0# KRXSRI0# KRXSRIECO0# KSGI0# KSDI0# KRXGREENSector indices (wef 2011-Sep-09).xls.xlsx</WORKBOOK_PATH>
  </Korea_Index_GeneratorFile_CONFIG>
</KOREA_IndexGeneratorConfig>