<?xml version="1.0" encoding="utf-8" ?>
<KOREA_NameChangeGeneratorConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <LOG_FILE_PATH>C:\Korea_Auto\Log\</LOG_FILE_PATH>
  <Korea_NameChange_StartDate>2011-10-24</Korea_NameChange_StartDate>
  <Korea_NameChange_EndDate>2011-12-05</Korea_NameChange_EndDate>
  <Korea_NameChange_GEDA_SAVE_PATH>C:\Korea_Auto\Equity_Warrant\Name_Change\GEDA\</Korea_NameChange_GEDA_SAVE_PATH>
  <Korea_NameChange_NDA_SAVE_PATH>C:\Korea_Auto\Equity_Warrant\Name_Change\NDA\</Korea_NameChange_NDA_SAVE_PATH>
  <Korea_NameChange_FM_SAVE_PATH>C:\Korea_Auto\Equity_Warrant\Name_Change\FM\</Korea_NameChange_FM_SAVE_PATH>
  <Korea_ReadDataFromKSKQListingListConfig>
    <WORKBOOK_PATH>C:\Korea_Auto\Equity_Warrant\KS and KQ listing equity list.xls</WORKBOOK_PATH>
    <WORKSHEET_NAME>Stock</WORKSHEET_NAME>
  </Korea_ReadDataFromKSKQListingListConfig>

  <Korea_NameChange_GenerateFileConfig>
    <WORKBOOK_PATH>C:\Korea_Auto\Equity_Warrant\Name_Change\</WORKBOOK_PATH>
    <WORKSHEET_NAME>Sheet1</WORKSHEET_NAME>
  </Korea_NameChange_GenerateFileConfig>
  <ALERT_MAIL_TO_LIST>
    <string>jackson.chen@thomsonreuters.com</string>
  </ALERT_MAIL_TO_LIST>
  <ALERT_MAIL_CC_LIST>
    <string>jackson.chen@thomsonreuters.com</string>
  </ALERT_MAIL_CC_LIST>
  <ALERT_MAIL_SIGNATURE_INFORMATION_LIST>
    <string>Ruoxin Wang (王若心) </string>
    <string>Content Analyst</string>
    <string></string>
    <string>Thomson Reuters </string>
    <string></string>
    <string>Phone: +86 10 6267 4614 </string>
    <string>emmaruoxin.wang@thomsonreuters.com</string>
    <string>thomsonreuters.com </string>
  </ALERT_MAIL_SIGNATURE_INFORMATION_LIST>
</KOREA_NameChangeGeneratorConfig>