<?xml version="1.0" encoding="utf-8" ?>
<KOREA_StockOptionDailyMaintainConfig  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <!-- Log file Collections -->
  <LOG_FILE_PATH>D:\Korea_Auto\Log\KOREA_StockOptionDailyMaintainLog.log</LOG_FILE_PATH>
  <KSO_SAVE_AS_FILE_PATH></KSO_SAVE_AS_FILE_PATH>
  <KSO_STIKE_MACRO_FILE_PATH></KSO_STIKE_MACRO_FILE_PATH>
  <KSO_STIKE_MACRO_BACKUP_FILE_PATH></KSO_STIKE_MACRO_BACKUP_FILE_PATH>
  <GEDA_RESULT_FILE_PATH></GEDA_RESULT_FILE_PATH>
  <NDA__RESULT_FILE_PATH>D:\mytestfile\</NDA__RESULT_FILE_PATH>

</KOREA_StockOptionDailyMaintainConfig>