<?xml version="1.0" encoding="utf-8" ?>

<KOREA_AutoSendFMEmailConfig  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <!-- Log file Collections -->
  <LOG_FILE_NAME>D:\LOG\EMAFileMentanence.txt</LOG_FILE_NAME>
  <SEND_FILE_DATE></SEND_FILE_DATE>
  <ALERT_MAIL_TO_LIST>
    <string>jackson.chen@thomsonreuters.com</string>
  </ALERT_MAIL_TO_LIST>
  <ALERT_MAIL_CC_LIST>
    <string>jackson.chen@thomsonreuters.com</string>
  </ALERT_MAIL_CC_LIST>
  <ALERT_MAIL_SIGNATURE_INFORMATION_LIST>
    <string>Ruoxin Wang (王若心) </string>
    <string>Content Analyst</string>
    <string></string>
    <string>Thomson Reuters </string>
    <string></string>
    <string>Phone: +86 10 6267 4614 </string>
    <string>emmaruoxin.wang@thomsonreuters.com</string>
    <string>thomsonreuters.com </string>
  </ALERT_MAIL_SIGNATURE_INFORMATION_LIST>
</KOREA_AutoSendFMEmailConfig>