<?xml version="1.0" encoding="utf-8" ?>
<KOREA_DROP_Config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <!-- Log file Collections -->
  <LOG_FILE_PATH>C:\Korea_Auto\LOG\</LOG_FILE_PATH>
  <Korea_DROP_StartDate></Korea_DROP_StartDate>
  <Korea_DROP_EndDate></Korea_DROP_EndDate>

  <!-- this config is just used for all equity instrument -->
  <Korea_DROP_CompanyWarrant_ReadFile_CONFIG>
    <WORKBOOK_PATH>C:\Korea_Auto\Company_Warrant\company warrant listing itmes.xls</WORKBOOK_PATH>
    <WORKSHEET_NAME>Sheet1</WORKSHEET_NAME>
  </Korea_DROP_CompanyWarrant_ReadFile_CONFIG>

  <Korea_DROP_ETFListingItems_ReadFilePath_Config>
    <WORKBOOK_PATH>C:\Korea_Auto\Company_Warrant\ETF Listing.xlsx</WORKBOOK_PATH>
    <WORKSHEET_NAME>Sheet1</WORKSHEET_NAME>
  </Korea_DROP_ETFListingItems_ReadFilePath_Config>

  <Korea_DROP_KQorKSList_ReadFilePath_CONFIG>
    <WORKBOOK_PATH>C:\Korea_Auto\Company_Warrant\KS and KQ listing equity list.xls</WORKBOOK_PATH>
    <WORKSHEET_NAME>Sheet1</WORKSHEET_NAME>
  </Korea_DROP_KQorKSList_ReadFilePath_CONFIG>

  <Korea_CompanyWarrant_DropGenerator_CONFIG>
    <WORKBOOK_PATH>C:\Korea_Auto\Company_Warrant\Warrant_DROP\</WORKBOOK_PATH>
    <WORKSHEET_NAME>Sheet1</WORKSHEET_NAME>
    <NDA_FILE_PATH>C:\Korea_Auto\Company_Warrant\Warrant_DROP\NDA\</NDA_FILE_PATH>
    <GEDA_FILE_PATH>C:\Korea_Auto\Company_Warrant\Warrant_DROP\GEDA\</GEDA_FILE_PATH>
  </Korea_CompanyWarrant_DropGenerator_CONFIG>

  <Korea_Equity_DropGenerator_CONFIG>
    <WORKBOOK_PATH>C:\Korea_Auto\Company_Warrant\Warrant_DROP\</WORKBOOK_PATH>
    <WORKSHEET_NAME>Sheet1</WORKSHEET_NAME>
  </Korea_Equity_DropGenerator_CONFIG>

  <Korea_ETF_DropGenerator_CONFIG>
    <WORKBOOK_PATH>C:\Korea_Auto\Equity_Warrant\ETF\</WORKBOOK_PATH>
    <WORKSHEET_NAME>Sheet1</WORKSHEET_NAME>
  </Korea_ETF_DropGenerator_CONFIG>

  <Korea_BC_DropGenerator_CONFIG>
    <WORKBOOK_PATH>C:\Korea_Auto\Company_Warrant\Warrant_DROP\</WORKBOOK_PATH>
    <WORKSHEET_NAME>Sheet1</WORKSHEET_NAME>
  </Korea_BC_DropGenerator_CONFIG>
  <ALERT_MAIL_TO_LIST>
    <string>jackson.chen@thomsonreuters.com</string>
  </ALERT_MAIL_TO_LIST>
  <ALERT_MAIL_CC_LIST>
    <string>jackson.chen@thomsonreuters.com</string>
  </ALERT_MAIL_CC_LIST>
  <ALERT_MAIL_SIGNATURE_INFORMATION_LIST>
    <string>Ruoxin Wang (王若心) </string>
    <string>Content Analyst</string>
    <string></string>
    <string>Thomson Reuters </string>
    <string></string>
    <string>Phone: +86 10 6267 4614 </string>
    <string>emmaruoxin.wang@thomsonreuters.com</string>
    <string>thomsonreuters.com </string>
  </ALERT_MAIL_SIGNATURE_INFORMATION_LIST>
</KOREA_DROP_Config>