<?xml version="1.0" encoding="utf-8" ?>
<KOREA_PEOGeneratorConfig  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <!-- Log file Collections -->
  <mail>
  </mail>
  <LOG_FILE_PATH>D:\Korea_Auto\Log\</LOG_FILE_PATH>
  <Korea_PEO_StartDate>2013-03-01</Korea_PEO_StartDate>
  <Korea_PEO_EndDate>2013-03-02</Korea_PEO_EndDate>
  <GEDA_FILE_PATH></GEDA_FILE_PATH>
  <NDA_FILE_PATH></NDA_FILE_PATH>

  <!-- this route will be used for all which need to read data from Equity Masterfile.xls -->
  <Korea_ReadDataFromEquityMasterfileConfig>
    <WORKBOOK_PATH></WORKBOOK_PATH>
    <WORKSHEET_NAME></WORKSHEET_NAME>
  </Korea_ReadDataFromEquityMasterfileConfig>

  <!-- this route is the Generate file's path -->
  <Korea_PEO_GeneratorFileConfig>
    <WORKBOOK_PATH></WORKBOOK_PATH>
    <WORKSHEET_NAME></WORKSHEET_NAME>
  </Korea_PEO_GeneratorFileConfig>

  <ALERT_MAIL_TO_LIST>
    <string>can.zhang@thomsonreuters.com</string>
  </ALERT_MAIL_TO_LIST>

  <ALERT_MAIL_CC>
    <string></string>
  </ALERT_MAIL_CC>

  <MailSignature>
    <string>thanks,</string>
  </MailSignature>
</KOREA_PEOGeneratorConfig>