<?xml version="1.0" encoding="utf-8" ?>
<KOREA_ELWFM2AndFurtherIssuerGeneratorConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <LOG_FILE_PATH>C:\Users\UC165661\Documents\task\KOREAN ELW\</LOG_FILE_PATH>
  <Korea_StartDate>2013-12-19</Korea_StartDate>
  <Korea_EndDate>2013-12-19</Korea_EndDate>

  <Korea_FM2_ReadDataFromMasterfileConfig>
    <WORKBOOK_PATH>C:\Users\UC165661\Documents\task\KOREAN ELW\Korea ELW FM Masterfile.xls</WORKBOOK_PATH>
    <WORKSHEET_NAME>Warrant Add</WORKSHEET_NAME>
  </Korea_FM2_ReadDataFromMasterfileConfig>

  <Korea_FM2_AppendDataToKOBAFileConfig>
    <WORKBOOK_PATH>C:\Users\UC165661\Documents\task\KOREAN ELW\KOBA Masterfile.xls</WORKBOOK_PATH>
    <WORKSHEET_NAME>Warrant Add</WORKSHEET_NAME>
  </Korea_FM2_AppendDataToKOBAFileConfig>

  <Korea_FM2_GenerateFileConfig>
    <WORKBOOK_PATH>C:\Users\UC165661\Documents\task\KOREAN ELW\</WORKBOOK_PATH>
    <WORKSHEET_NAME>Sheet1</WORKSHEET_NAME>
  </Korea_FM2_GenerateFileConfig>

  <Korea_FM2_GenerateKOBAFileConfig>
    <WORKBOOK_PATH>C:\Users\UC165661\Documents\task\KOREAN ELW\</WORKBOOK_PATH>
    <WORKSHEET_NAME>Sheet1</WORKSHEET_NAME>
  </Korea_FM2_GenerateKOBAFileConfig>

  <Korea_FurtherIssuer_GenerateFileConfig>
    <WORKBOOK_PATH>C:\Users\UC165661\Documents\task\KOREAN ELW\</WORKBOOK_PATH>
    <WORKSHEET_NAME>Sheet1</WORKSHEET_NAME>
  </Korea_FurtherIssuer_GenerateFileConfig>

  <Korea_FM2_PDFFileDownloadSavePath>C:\Users\UC165661\Documents\task\KOREAN ELW\</Korea_FM2_PDFFileDownloadSavePath>

  <Korea_FM2_TXTFileSavePath>C:\Users\UC165661\Documents\task\KOREAN ELW\</Korea_FM2_TXTFileSavePath>
  <Korea_FM2_GEDAFileSavePath>C:\Users\UC165661\Documents\task\KOREAN ELW\</Korea_FM2_GEDAFileSavePath>
  <Korea_FM2_NDAFileSavePath>C:\Users\UC165661\Documents\task\KOREAN ELW\</Korea_FM2_NDAFileSavePath>
  <Korea_FurtherIssuer_PDFFileDownloadSavePath>C:\Users\UC165661\Documents\task\KOREAN ELW\</Korea_FurtherIssuer_PDFFileDownloadSavePath>
  <Korea_FM2_RefernceListFilePath>C:\Users\UC165661\Documents\task\KOREAN ELW\Reference List.xlsx</Korea_FM2_RefernceListFilePath>
  <Korea_FM2_RefernceTableOfPilc>C:\Users\UC165661\Documents\task\KOREAN ELW\TAG and PILC.xls</Korea_FM2_RefernceTableOfPilc>
  <Korea_FurtherIssuer_TXTFileSavePath>C:\Users\UC165661\Documents\task\KOREAN ELW\</Korea_FurtherIssuer_TXTFileSavePath>
  <Korea_FurtherIssuer_MailToSend>
    <string>xiaolei.wang@thomsonreuters.com</string>
  </Korea_FurtherIssuer_MailToSend>
  <Korea_FurtherIssuer_MailToSend_CC>
    <string>xiaolei.wang@thomsonreuters.com;xiaolei.wang@thomsonreuters.com</string>
  </Korea_FurtherIssuer_MailToSend_CC>
  <Korea_FurtherIssuer_MailToSend_Signature>
    <string>xiaolei.wang@thomsonreuters.com;xiaolei.wang@thomsonreuters.com</string>
  </Korea_FurtherIssuer_MailToSend_Signature>
  <Korea_FM2_MailToSend>
    <string>xiaolei.wang@thomsonreuters.com</string>
    </Korea_FM2_MailToSend>
  <Korea_FM2_MailToSend_CC>
    <string>xiaolei.wang@thomsonreuters.com</string>
  </Korea_FM2_MailToSend_CC>
  <Korea_FM2_MailToSend_Signature>
    <string>xiaolei.wang@thomsonreuters.com</string>
  </Korea_FM2_MailToSend_Signature>
  <Korea_KOBA_MailToSend>
    <string>xiaolei.wang@thomsonreuters.com</string>
  </Korea_KOBA_MailToSend>
  <Korea_KOBA_MailToSend_CC>
    <string>xiaolei.wang@thomsonreuters.com</string>
  </Korea_KOBA_MailToSend_CC>
  <Korea_KOBA_MailToSend_Signature>
    <string>xiaolei.wang@thomsonreuters.com</string>
  </Korea_KOBA_MailToSend_Signature>

</KOREA_ELWFM2AndFurtherIssuerGeneratorConfig>