<?xml version="1.0" encoding="utf-8" ?>
<KOREA_ELWFM1GeneratorConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <LOG_FILE_PATH>C:\Korea_Auto\Log\</LOG_FILE_PATH>
  <Korea_FM1_StartDate>2011-12-07</Korea_FM1_StartDate>
  <Korea_FM1_EndDate>2011-12-07</Korea_FM1_EndDate>

  <Korea_FM1_AppendToMasterfileConfig>
    <WORKBOOK_PATH>C:\Korea_Auto\ELW_FM\Korea ELW FM Masterfile.xls</WORKBOOK_PATH>
    <WORKSHEET_NAME>Warrant ADD</WORKSHEET_NAME>
  </Korea_FM1_AppendToMasterfileConfig>

  <Korea_FM1_GenerateFileConfig>
    <WORKBOOK_PATH>C:\Korea_Auto\ELW_FM\ELW_FM1\</WORKBOOK_PATH>
    <WORKSHEET_NAME>Sheet1</WORKSHEET_NAME>
  </Korea_FM1_GenerateFileConfig>
</KOREA_ELWFM1GeneratorConfig>