<?xml version="1.0" encoding="utf-8" ?>
<KOREA_ADDGeneratorConfig  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <!-- Log file Collections -->
  <LOG_FILE_PATH>C:\Korea_Auto\Log\</LOG_FILE_PATH>
  <Korea_ADD_StartDate>2011-09-01</Korea_ADD_StartDate>
  <Korea_ADD_EndDate>2011-11-30</Korea_ADD_EndDate>

  <!-- this route will be used for all which need to read data from Equity Masterfile.xls -->
  <Korea_ReadDataFromEquityMasterfileConfig>
    <WORKBOOK_PATH>C:\Korea_Auto\Equity_Warrant\Equity Masterfile.xlsx</WORKBOOK_PATH>
    <WORKSHEET_NAME>Sheet1</WORKSHEET_NAME>
  </Korea_ReadDataFromEquityMasterfileConfig>

  <!-- this route will be used for all which need to read data from KSorKQListingEquityList(KS and KQ listing equity list.xls) -->
  <Korea_ReadDataFromKSKQListingListConfig>
    <WORKBOOK_PATH>C:\Korea_Auto\KS and KQ listing equity list.xls</WORKBOOK_PATH>
    <WORKSHEET_NAME>Stock</WORKSHEET_NAME>
  </Korea_ReadDataFromKSKQListingListConfig>

  <!-- this route is the Generate file's path -->
  <Korea_PEOADD_GeneratorFileConfig>
    <WORKBOOK_PATH>C:\Korea_Auto\Equity_Warrant\PEO_ADD\PEOADD\</WORKBOOK_PATH>
    <WORKSHEET_NAME>Sheet1</WORKSHEET_NAME>
  </Korea_PEOADD_GeneratorFileConfig>

  <Korea_RICUpgrade_GeneratorFileConfig>
    <WORKBOOK_PATH>C:\Korea_Auto\Equity_Warrant\PEO_ADD\RICUpgrade\</WORKBOOK_PATH>
    <WORKSHEET_NAME>Sheet1</WORKSHEET_NAME>
  </Korea_RICUpgrade_GeneratorFileConfig>

  <Korea_REITsADD_GeneratorFileConfig>
    <WORKBOOK_PATH>C:\Korea_Auto\Equity_Warrant\REITs\</WORKBOOK_PATH>
    <WORKSHEET_NAME>Sheet1</WORKSHEET_NAME>
  </Korea_REITsADD_GeneratorFileConfig>

  <Korea_ETFADD_GeneratorFileConfig>
    <WORKBOOK_PATH>C:\Korea_Auto\Equity_Warrant\ETF\</WORKBOOK_PATH>
    <WORKSHEET_NAME>Sheet1</WORKSHEET_NAME>
  </Korea_ETFADD_GeneratorFileConfig>

</KOREA_ADDGeneratorConfig>