<?xml version="1.0" encoding="utf-8" ?>
<KOREA_AddDropChangeConfig  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <FM_FILES_DIR>C:\Documents and Settings\meizhi.hu\Desktop\Requirements\Korea Market\IDN  add &amp; drop page\IDN  add &amp; drop page\sample files</FM_FILES_DIR>
  <TEMPLATE_ADD_DROP_UPLOAD_FILE_PATH>C:\Documents and Settings\meizhi.hu\Desktop\Requirements\Korea Market\IDN  add &amp; drop page\IDN  add &amp; drop page\final add &amp; drop upload file.xls</TEMPLATE_ADD_DROP_UPLOAD_FILE_PATH>
  <LOG_FILE_PATH>AddDropChange.log</LOG_FILE_PATH>
</KOREA_AddDropChangeConfig>