<?xml version="1.0" encoding="utf-8" ?>
<KOREA_IndexOptionDailyMaintainConfig  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <!-- Log file Collections -->
  <LOG_FILE_PATH>D:\Korea_Auto\Log\KOREA_IndexOptionDailyMaintainLog.log</LOG_FILE_PATH>
  <KSO_SAVE_AS_FILE_PATH>D:\Korea_Auto\Option\KSO_save_as_values.xlsx</KSO_SAVE_AS_FILE_PATH>
  <KSO_STIKE_MACRO_FILE_PATH>D:\Korea_Auto\Option\KSO STRIKE_MACRO_requirements.xls</KSO_STIKE_MACRO_FILE_PATH>
  <KSO_STIKE_MACRO_BACKUP_FILE_PATH>D:\Korea_Auto\Option\backup\KSO STRIKE_MACRO.XLS</KSO_STIKE_MACRO_BACKUP_FILE_PATH>
  <NDA_RESULT_FILE_DIR>D:\Korea_Auto\Option\NDA</NDA_RESULT_FILE_DIR>

</KOREA_IndexOptionDailyMaintainConfig>