<?xml version="1.0" encoding="utf-8" ?>
<KOREA_ELWStrikeConversionGeneratorConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <LOG_FILE_PATH>C:\Korea_Auto\Log\</LOG_FILE_PATH>
  <Korea_SPCRAdjustment_StartDate>2011-09-01</Korea_SPCRAdjustment_StartDate>
  <Korea_SPCRAdjustment_EndDate>2011-11-30</Korea_SPCRAdjustment_EndDate>

  <!-- Generate Strike Price 、Conversion Ratio Adjustment file -->
  <Korea_SPCRAdjustment_GeneratorFileConfig>
    <WORKBOOK_PATH>C:\Korea_Auto\ELW_FM\ELW_Adjustment\</WORKBOOK_PATH>
    <WORKSHEET_NAME>Sheet1</WORKSHEET_NAME>
  </Korea_SPCRAdjustment_GeneratorFileConfig>

</KOREA_ELWStrikeConversionGeneratorConfig>