<?xml version="1.0" encoding="utf-8" ?>
<KOREA_RightsGeneratorConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <LOG_FILE_PATH>C:\Korea_FM\LOG\</LOG_FILE_PATH>
  <Korea_Rights_startDate></Korea_Rights_startDate>
  <Korea_Rights_endDate></Korea_Rights_endDate>

  <Korea_RightsAdd_GenerateFileConfig>
    <WORKBOOK_PATH>C:\Korea_Auto\Rights\Add\</WORKBOOK_PATH>
    <WORKSHEET_NAME>Sheet1</WORKSHEET_NAME>
    <RIGHT_ADD_GEDA>C:\Korea_Auto\Rights\Add\GEDA\</RIGHT_ADD_GEDA>
    <RIGHT_ADD_NDA>C:\Korea_Auto\Rights\Add\NDA\</RIGHT_ADD_NDA>
  </Korea_RightsAdd_GenerateFileConfig>

  <Korea_RightsDrop_GenerateFileConfig>
    <WORKBOOK_PATH>C:\Korea_Auto\Rights\Drop\</WORKBOOK_PATH>
    <WORKSHEET_NAME>Sheet1</WORKSHEET_NAME>
    <RIGHT_DROP_GEDA>C:\Korea_Auto\Rights\Drop\GEDA\</RIGHT_DROP_GEDA>
    <RIGHT_DROP_NDA>C:\Korea_Auto\Rights\Drop\NDA\</RIGHT_DROP_NDA>
  </Korea_RightsDrop_GenerateFileConfig>

  <RIGHTS_MAIL_TO_LIST>
    <string>emmaruoxin.wang@thomsonreuters.com</string>
  </RIGHTS_MAIL_TO_LIST>
  <RIGHTS_MAIL_CC_LIST>
    <string></string>
  </RIGHTS_MAIL_CC_LIST>
  <RIGHTS_MAIL_SIGNATURE_INFORMATION_LIST>
    <string>Ruoxin Wang (王若心) </string>
    <string>Content Analyst</string>
    <string></string>
    <string>Thomson Reuters </string>
    <string></string>
    <string>Phone: +86 10 6267 4614 </string>
    <string>emmaruoxin.wang@thomsonreuters.com</string>
    <string>thomsonreuters.com </string>
  </RIGHTS_MAIL_SIGNATURE_INFORMATION_LIST>
</KOREA_RightsGeneratorConfig>