<?xml version="1.0" encoding="utf-8" ?>
<KOREA_CompanyWarrantAddGeneratorConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <LOG_FILE_PATH>C:\Korea_FM\LOG\</LOG_FILE_PATH>
  <Korea_CompanyWarrantAdd_startDate></Korea_CompanyWarrantAdd_startDate>
  <Korea_CompanyWarrantAdd_endDate></Korea_CompanyWarrantAdd_endDate>
  <Korea_CompanyWarrantAdd_GEDA>C:\Korea_Auto\Company_Warrant\Warrant_ADD\GEDA\</Korea_CompanyWarrantAdd_GEDA>
  <Korea_CompanyWarrantAdd_NDA>C:\Korea_Auto\Company_Warrant\Warrant_ADD\NDA\</Korea_CompanyWarrantAdd_NDA>
  <!-- Read data from company warrant listing items -->
  <Korea_ReadDataFromCompanyWarrantListingItemsListConfig>
    <WORKBOOK_PATH>C:\Korea_Auto\Company_Warrant\company warrant listing itmes.xls</WORKBOOK_PATH>
    <WORKSHEET_NAME>Sheet1</WORKSHEET_NAME>
  </Korea_ReadDataFromCompanyWarrantListingItemsListConfig>

  <Korea_CompanyWarrantAdd_GenerateFileConfig>
    <WORKBOOK_PATH>C:\Korea_Auto\Company_Warrant\Warrant_ADD\FM\</WORKBOOK_PATH>
    <WORKSHEET_NAME>Sheet1</WORKSHEET_NAME>
  </Korea_CompanyWarrantAdd_GenerateFileConfig>

  <ALERT_MAIL_TO_LIST>
    <string>jackson.chen@thomsonreuters.com</string>
  </ALERT_MAIL_TO_LIST>
  <ALERT_MAIL_CC_LIST>
    <string>jackson.chen@thomsonreuters.com</string>
  </ALERT_MAIL_CC_LIST>
  <ALERT_MAIL_SIGNATURE_INFORMATION_LIST>
    <string>Ruoxin Wang (王若心) </string>
    <string>Content Analyst</string>
    <string></string>
    <string>Thomson Reuters </string>
    <string></string>
    <string>Phone: +86 10 6267 4614 </string>
    <string>emmaruoxin.wang@thomsonreuters.com</string>
    <string>thomsonreuters.com </string>
  </ALERT_MAIL_SIGNATURE_INFORMATION_LIST>
</KOREA_CompanyWarrantAddGeneratorConfig>